<h1>Your Text Analysis</h1>

<h2>Number of Words:<%= @c.count_of_words %> </h2>

<h2>Vowels:<%= @c %> </h2>

<h2>Consonants:<%= @c %> </h2>

<h2>Most Common Letter:<%= @c %> used <%= @c %> times</h2>
